CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

cmake-build-debug/
cmake-build-release/
cmake-build-*

.idea/
*.iml

*.o
*.obj
*.so
*.exe
*.dll
*.dSYM/
*.class
*.log

*.out
*.app

.run/
*.run

.DS_Store
Thumbs.db

*.tmp
*.temp
*.bak
*.swp

